@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Inconsolata', monospace;
}

a {
  color: #fff;
}

a:hover {
  color: orange;
}

img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

.tright {
  text-align: right;
}

.App {
  text-align: center;
  background-color: beige;
}

#menu {
  padding: 10px 0;
}

#menu li {
  color: #fff;
  display: inline-block;
  padding: 8px 10px;
}

main {
  width: 100%;
}

section {
  padding: 80px;
}

.bggray {
  background: #e1e1e1;
}

.bgwhite {
  background: #fff;
}

#banner {
  padding: 0;
}

#banner img {
  width: 100%;
}

.bloco-titulo, .subbloco-titulo {
  border-left: 4px solid #37352f;
  text-align: left;
  padding-left: 10px;
  margin: 30px 0px;
}

.subbloco-titulo {
  margin-top: 0px;
}

.bloco-conteudo {
  margin: 10px 0px;
}

.bloco-titulo p, .bloco-conteudo p {
  text-align: justify;
  margin: 10px 0px;
}

.w50 {
  width: 49%;
  float: left;
  margin: 0px 1% 0px 0px;
}

.wright {
  margin: 0px 0px 0px 1%;
}

#container-empatia {
  position: relative;
}

.empatia-destaque {
  position: absolute;
  top: 280px;
  left: 35%;
  width: 30%;
}

.empatia-destaque img {
  width: 100%;
}

.bloco-empatia {
  border: 2px solid #37352f;
  padding: 2%;
  width: 45.5%;
  min-height: 315px;
  margin: 0;
  float: left;
  text-align: left;
}

.bloco-empatia h3, .bloco-empatia p {
  text-align: left;
  max-width: 70%;
  clear: both;
}

.bloco-empatia.tright h3, .bloco-empatia.tright p {
  text-align: right;
  float: right;
}

.bloco-empatia span {
  color: red;
}

footer {
  background-color: #222;
  width: 100%;
  padding: 40px 0;
}

footer p {
  color: #fff;
}

@media all and (max-width: 600px){
  section {
    padding: 10px;
  }

  .w50 {
    width: 100%;
    float: left;
    margin: 0px 0px 15px;
  }

  .bloco-empatia, .bloco-empatia.tright {
    width: 92%;
    padding: 20px 4%;
  }

  .bloco-empatia h3, .bloco-empatia p, .bloco-empatia.tright h3, .bloco-empatia.tright p {
    text-align: justify;
    max-width: 100%;
    float: none;
  }

  .bloco-empatia h3 {
    margin-bottom: 20px;
  }

  .empatia-destaque {
    display: none;
  }
}